<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Poll</title>
</head>
<body>
    <h1>Create Poll</h1>
    <form action="#" th:action="@{/savepoll}" th:object="${poll}" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" th:field="*{title}"/><br/><br/>
        
        <label for="question1">Question 1:</label>
        <input type="text" id="question1" th:field="*{questions[0].query}"/><br/><br/>
        <label for="answer1">Answer 1:</label>
        <input type="text" id="answer1" th:field="*{questions[0].answer}"/><br/><br/>
        
        <label for="question2">Question 2:</label>
        <input type="text" id="question2" th:field="*{questions[1].query}"/><br/><br/>
        <label for="answer2">Answer 2:</label>
        <input type="text" id="answer2" th:field="*{questions[1].answer}"/><br/><br/>
        
        <label for="question3">Question 3:</label>
        <input type="text" id="question3" th:field="*{questions[2].query}"/><br/><br/>
        <label for="answer3">Answer 3:</label>
        <input type="text" id="answer3" th:field="*{questions[2].answer}"/><br/><br/>
        
        <input type="submit" class = "btn btn-primary" value="Create"/>
        <input type="reset" value="Reset" class="btn btn-warning" />
        <a href="/polls" class = "btn btn-primary"> Back to polls</a>
    </form>
</body>
</html>